In [18]:
from utils import * 
import numpy as np

URL = "http://mtg.upf.edu/static/datasets/last.fm/lastfm-dataset-1K.tar.gz"
f_name = "lastfm-dataset-1K.tar.gz"
dir_name = "lastfm-dataset-1K"
dataset_f_name = "userid-timestamp-artid-artname-traid-traname.tsv"

In [19]:
download_dataset(URL, f_name)

Dataset Exists...

In [20]:
user_data = load_dataset(dir_name, dataset_f_name, 1000000)

Read File...

In [21]:
user_data[:10]

,userid,timestamp,artist-id,artist-name,track-id,track-name
0,user_000001,2009-05-04T23:08:57Z,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Deep Dish,NaN,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007
1,user_000001,2009-05-04T13:54:10Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Composition 0919 (Live_2009_4_15)
2,user_000001,2009-05-04T13:52:04Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc2 (Live_2009_4_15)
3,user_000001,2009-05-04T13:42:52Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Hibari (Live_2009_4_15)
4,user_000001,2009-05-04T13:42:11Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc1 (Live_2009_4_15)
5,user_000001,2009-05-04T13:38:31Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,To Stanford (Live_2009_4_15)
6,user_000001,2009-05-04T13:33:28Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Improvisation (Live_2009_4_15)
7,user_000001,2009-05-04T13:23:45Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Glacier (Live_2009_4_15)
8,user_000001,2009-05-04T13:19:22Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Parolibre (Live_2009_4_15)
9,user_000001,2009-05-04T13:13:38Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Bibo No Aozora (Live_2009_4_15)

## Cleaning infrequent data

First remove infrequent tracks (<10 plays)

In [22]:
# Removing infrequent tracks.
if user_data['track-id'].isnull().sum() > 0:
    user_data = user_data.dropna(axis = 0, subset = ['track-id'])

In [23]:
user_data.shape

(865616, 6)

In [24]:
total_plays = user_data.groupby(["track-id"]).size().reset_index()
total_plays.rename(columns = {0: 'total'}, inplace = True)
total_plays.describe()

               total
count  126986.000000
mean        6.816625
std        25.337567
min         1.000000
25%         1.000000
50%         2.000000
75%         6.000000
max      2069.000000

In [25]:
frequent_plays = total_plays[total_plays['total'] >= 10]['track-id']
frequent_plays.describe()

count                                    20666
unique                                   20666
top       8837c142-45e4-495f-abd9-4f3c016dfa52
freq                                         1
Name: track-id, dtype: object

In [26]:
# Drop infrequent tracks.
data = user_data[user_data['track-id'].isin(frequent_plays)]
data.describe()

,userid,timestamp,artist-id,artist-name,track-id,track-name
count,595039,595039,595039,595039,595039,595039
unique,41,592738,3331,3309,20666,19328
top,user_000033,2008-11-24T11:38:21Z,164f0d73-1234-4e2c-8743-d77bf2191051,Kanye West,82558949-cd98-4c58-af35-3f1a9430d52e,Heartless
freq,58772,24,26616,26616,2069,2120

Now, remove infrequent users.

In [27]:
# Removing infrequent tracks.
if data['userid'].isnull().sum() > 0:
    data = data.dropna(axis = 0, subset = ['userid'])

In [28]:
data.shape

(595039, 6)

In [29]:
user_plays = data.groupby(["userid"]).size().reset_index()
user_plays.rename(columns = {0: 'total'}, inplace = True)
user_plays.describe()

              total
count     41.000000
mean   14513.146341
std    15059.907282
min      176.000000
25%     3090.000000
50%    10437.000000
75%    18144.000000
max    58772.000000

In [30]:
frequent_users = user_plays[user_plays['total'] >= 10]['userid']
frequent_users.describe()

count              41
unique             41
top       user_000035
freq                1
Name: userid, dtype: object

In [31]:
# Drop infrequent tracks.
data = data[data['userid'].isin(frequent_users)]
data.describe()

,userid,timestamp,artist-id,artist-name,track-id,track-name
count,595039,595039,595039,595039,595039,595039
unique,41,592738,3331,3309,20666,19328
top,user_000033,2008-11-24T11:38:21Z,164f0d73-1234-4e2c-8743-d77bf2191051,Kanye West,82558949-cd98-4c58-af35-3f1a9430d52e,Heartless
freq,58772,24,26616,26616,2069,2120

## Listening Sessions

We create listening sessions for the ground-truth of top-n recommendations and for song2vec

In [32]:
user_play_counts=data.groupby(["userid"]).size().to_frame('size').reset_index()
user_play_counts

         userid   size
0   user_000001   6723
1   user_000002  42930
2   user_000003  10437
3   user_000004   8200
4   user_000005  13211
5   user_000006  10246
6   user_000007    182
7   user_000008  34997
8   user_000009   1857
9   user_000010   3090
10  user_000011   3700
11  user_000012  47121
12  user_000013   4220
13  user_000014    176
14  user_000015  10161
15  user_000016  11517
16  user_000017   3810
17  user_000018  10566
18  user_000019  22334
19  user_000020   2793
20  user_000021  44916
21  user_000022  33541
22  user_000023  37894
23  user_000024   8914
24  user_000025  18144
25  user_000026  33203
26  user_000027   1868
27  user_000028   1313
28  user_000029  24318
29  user_000030  10939
30  user_000031  12135
31  user_000032  12093
32  user_000033  58772
33  user_000034  11816
34  user_000035   1213
35  user_000036   1471
36  user_000037   2875
37  user_000038   7167
38  user_000039  11142
39  user_000040  11006
40  user_000041   2028

In [33]:
groups=data.groupby('userid')
groups.groups

{'user_000001': Int64Index([   10,    12,    14,    15,    74,   174,   255,   256,   257,
               258,
             ...
             16653, 16654, 16655, 16659, 16667, 16669, 16676, 16682, 16683,
             16684],
            dtype='int64', length=6723),
 'user_000002': Int64Index([16685, 16686, 16696, 16697, 16698, 16704, 16705, 16708, 16710,
             16711,
             ...
             74112, 74113, 74114, 74115, 74117, 74118, 74119, 74120, 74121,
             74122],
            dtype='int64', length=42930),
 'user_000003': Int64Index([74127, 74128, 74144, 74147, 74161, 74163, 74164, 74165, 74166,
             74167,
             ...
             93602, 93603, 93605, 93606, 93611, 93612, 93613, 93614, 93615,
             93616],
            dtype='int64', length=10437),
 'user_000004': Int64Index([ 93622,  93627,  93635,  93637,  93638,  93639,  93648,  93649,
              93650,  93651,
             ...
             112007, 112008, 112010, 112016, 112019, 112020, 112021, 112023,
             112024, 112025],
            dtype='int64', length=8200),
 'user_000005': Int64Index([112029, 112030, 112031, 112032, 112035, 112036, 112037, 112038,
             112039, 112040,
             ...
             132341, 132342, 132343, 132350, 132351, 132352, 132356, 132359,
             132363, 132365],
            dtype='int64', length=13211),
 'user_000006': Int64Index([132387, 132388, 132389, 132413, 132414, 132451, 132452, 132453,
             132454, 132455,
             ...
             161353, 161354, 161368, 161376, 161377, 161378, 161379, 161380,
             161381, 161382],
            dtype='int64', length=10246),
 'user_000007': Int64Index([161416, 161439, 161442, 161463, 161494, 161496, 161568, 161581,
             161591, 161620,
             ...
             163750, 163759, 163776, 163779, 163804, 163805, 163806, 163818,
             163823, 163824],
            dtype='int64', length=182),
 'user_000008': Int64Index([163853, 163855, 163859, 163860, 163864, 163866, 163867, 163868,
             163870, 163874,
             ...
             201069, 201070, 201071, 201072, 201073, 201074, 201075, 201076,
             201077, 201078],
            dtype='int64', length=34997),
 'user_000009': Int64Index([201080, 201083, 201085, 201090, 201096, 201097, 201098, 201100,
             201104, 201105,
             ...
             206240, 206243, 206254, 206269, 206278, 206291, 206299, 206301,
             206305, 206309],
            dtype='int64', length=1857),
 'user_000010': Int64Index([206312, 206313, 206323, 206325, 206326, 206327, 206332, 206333,
             206334, 206335,
             ...
             212811, 212813, 212827, 212833, 212836, 212865, 212867, 212871,
             212881, 212884],
            dtype='int64', length=3090),
 'user_000011': Int64Index([212937, 212938, 212978, 212995, 213021, 213027, 213042, 213043,
             213044, 213045,
             ...
             229839, 229840, 229868, 229869, 229871, 229873, 229957, 229963,
             229964, 229965],
            dtype='int64', length=3700),
 'user_000012': Int64Index([230078, 230083, 230084, 230088, 230105, 230106, 230107, 230108,
             230109, 230110,
             ...
             305917, 305918, 305920, 305921, 305923, 305924, 305925, 305928,
             305930, 305931],
            dtype='int64', length=47121),
 'user_000013': Int64Index([305934, 305935, 305936, 305961, 305963, 305964, 305966, 305967,
             305968, 305969,
             ...
             314797, 314798, 314799, 314801, 314802, 314803, 314808, 314821,
             314822, 314824],
            dtype='int64', length=4220),
 'user_000014': Int64Index([314830, 314836, 314839, 314841, 314843, 314844, 314845, 314848,
             314851, 314855,
             ...
             315157, 315162, 315163, 315165, 315166, 315168, 315169, 315172,
             315175, 315182],
            dtype='int64', length=176),
 'user_000015': Int64Index([315183, 315184, 315185, 315186, 315187, 315188, 315189, 315190,
             315191, 315192,
             ...
             328916, 328917, 328918, 328919, 328920, 328921, 328922, 328923,
             328924, 328925],
            dtype='int64', length=10161),
 'user_000016': Int64Index([328926, 328930, 328931, 328940, 328954, 328956, 328957, 328960,
             328992, 328993,
             ...
             351087, 351088, 351089, 351090, 351091, 351092, 351093, 351094,
             351095, 351096],
            dtype='int64', length=11517),
 'user_000017': Int64Index([351131, 351135, 351137, 351141, 351152, 351154, 351169, 351171,
             351193, 351202,
             ...
             370695, 370696, 370699, 370703, 370704, 370716, 370721, 370733,
             370738, 370743],
            dtype='int64', length=3810),
 'user_000018': Int64Index([370745, 370746, 370747, 370748, 370749, 370750, 370752, 370753,
             370754, 370756,
             ...
             382448, 382449, 382450, 382451, 382452, 382453, 382454, 382455,
             382456, 382457],
            dtype='int64', length=10566),
 'user_000019': Int64Index([382480, 382481, 382484, 382494, 382495, 382496, 382497, 382498,
             382499, 382500,
             ...
             409972, 409973, 409974, 409975, 409976, 409977, 409980, 409981,
             409982, 409983],
            dtype='int64', length=22334),
 'user_000020': Int64Index([409988, 409991, 409995, 410004, 410011, 410012, 410013, 410014,
             410015, 410016,
             ...
             414639, 414640, 414642, 414643, 414644, 414645, 414646, 414648,
             414650, 414651],
            dtype='int64', length=2793),
 'user_000021': Int64Index([414672, 414673, 414674, 414675, 414676, 414677, 414678, 414679,
             414680, 414681,
             ...
             485082, 485084, 485086, 485087, 485088, 485089, 485090, 485091,
             485092, 485095],
            dtype='int64', length=44916),
 'user_000022': Int64Index([485098, 485099, 485101, 485102, 485103, 485105, 485106, 485107,
             485108, 485109,
             ...
             536553, 536556, 536558, 536559, 536560, 536561, 536563, 536564,
             536568, 536570],
            dtype='int64', length=33541),
 'user_000023': Int64Index([536572, 536573, 536574, 536575, 536576, 536577, 536578, 536579,
             536580, 536581,
             ...
             578559, 578560, 578561, 578562, 578566, 578571, 578577, 578578,
             578579, 578580],
            dtype='int64', length=37894),
 'user_000024': Int64Index([578582, 578583, 578584, 578585, 578589, 578592, 578593, 578595,
             578599, 578601,
             ...
             597751, 597752, 597753, 597754, 597755, 597761, 597763, 597766,
             597770, 597777],
            dtype='int64', length=8914),
 'user_000025': Int64Index([597778, 597779, 597783, 597784, 597785, 597786, 597787, 597788,
             597789, 597790,
             ...
             636833, 636834, 636837, 636838, 636839, 636841, 636844, 636845,
             636857, 636858],
            dtype='int64', length=18144),
 'user_000026': Int64Index([636867, 636869, 636876, 636877, 636881, 636884, 636887, 636889,
             636891, 636892,
             ...
             682143, 682144, 682150, 682151, 682152, 682155, 682156, 682157,
             682158, 682164],
            dtype='int64', length=33203),
 'user_000027': Int64Index([682169, 682170, 682171, 682173, 682175, 682177, 682179, 682180,
             682181, 682182,
             ...
             685914, 685915, 685916, 685917, 685918, 685919, 685920, 685931,
             685932, 685934],
            dtype='int64', length=1868),
 'user_000028': Int64Index([685949, 685951, 686053, 686071, 686089, 686090, 686092, 686093,
             686094, 686095,
             ...
             699038, 699039, 699040, 699041, 699077, 699078, 699079, 699090,
             699168, 699175],
            dtype='int64', length=1313),
 'user_000029': Int64Index([699219, 699220, 699221, 699222, 699223, 699224, 699225, 699226,
             699227, 699228,
             ...
             741022, 741024, 741027, 741028, 741032, 741033, 741044, 741046,
             741047, 741048],
            dtype='int64', length=24318),
 'user_000030': Int64Index([741049, 741052, 741053, 741054, 741055, 741056, 741057, 741064,
             741065, 741095,
             ...
             758178, 758179, 758181, 758189, 758190, 758191, 758192, 758194,
             758195, 758197],
            dtype='int64', length=10939),
 'user_000031': Int64Index([758205, 758218, 758236, 758237, 758240, 758255, 758257, 758261,
             758264, 758268,
             ...
             794495, 794498, 794499, 794500, 794502, 794504, 794506, 794509,
             794511, 794513],
            dtype='int64', length=12135),
 'user_000032': Int64Index([794514, 794515, 794516, 794517, 794518, 794519, 794520, 794522,
             794523, 794524,
             ...
             808557, 808566, 808569, 808570, 808571, 808572, 808580, 808581,
             808585, 808586],
            dtype='int64', length=12093),
 'user_000033': Int64Index([808590, 808591, 808592, 808593, 808594, 808595, 808596, 808597,
             808598, 808599,
             ...
             904977, 904982, 904985, 904988, 904989, 904990, 905001, 905010,
             905011, 905014],
            dtype='int64', length=58772),
 'user_000034': Int64Index([905059, 905060, 905061, 905062, 905063, 905064, 905065, 905066,
             905067, 905068,
             ...
             924407, 924408, 924409, 924410, 924413, 924418, 924421, 924422,
             924424, 924426],
            dtype='int64', length=11816),
 'user_000035': Int64Index([924459, 924471, 924472, 924564, 924575, 924578, 924666, 924673,
             924679, 924710,
             ...
             933850, 933864, 933865, 933879, 933880, 933881, 933891, 933892,
             933893, 933894],
            dtype='int64', length=1213),
 'user_000036': Int64Index([933910, 933913, 933920, 933921, 933922, 933931, 933950, 933953,
             933955, 933956,
             ...
             938105, 938109, 938112, 938117, 938118, 938119, 938120, 938122,
             938138, 938141],
            dtype='int64', length=1471),
 'user_000037': Int64Index([938144, 938145, 938146, 938178, 938179, 938180, 938181, 938182,
             938183, 938184,
             ...
             944337, 944338, 944339, 944341, 944343, 944344, 944346, 944349,
             944357, 944368],
            dtype='int64', length=2875),
 'user_000038': Int64Index([944374, 944375, 944376, 944377, 944378, 944379, 944380, 944381,
             944382, 944383,
             ...
             958717, 958718, 958739, 958740, 958741, 958742, 958743, 958744,
             958745, 958746],
            dtype='int64', length=7167),
 'user_000039': Int64Index([958748, 958750, 958751, 958752, 958753, 958754, 958755, 958756,
             958757, 958758,
             ...
             972732, 972734, 972735, 972736, 972737, 972738, 972739, 972741,
             972743, 972745],
            dtype='int64', length=11142),
 'user_000040': Int64Index([972746, 972748, 972752, 972753, 972754, 972755, 972756, 972757,
             972758, 972759,
             ...
             991696, 991704, 991706, 991708, 991710, 991711, 991713, 991714,
             991716, 991718],
            dtype='int64', length=11006),
 'user_000041': Int64Index([991720, 991721, 991722, 991727, 991728, 991729, 991731, 991733,
             991734, 991735,
             ...
             999973, 999985, 999992, 999993, 999994, 999995, 999996, 999997,
             999998, 999999],
            dtype='int64', length=2028)}

In [34]:
import datetime, dateutil.parser
sessions = []
sessions_user = []
for user, indices in groups.groups.iteritems():
    print("------------------------------------------ User ",user)
    user_record = data.loc[indices, :].sort_values(['timestamp'])
    print user_record.shape
#     print user_record.index
    session = [user_record.iloc[0].name]
    for i in range(0, user_record.shape[0] - 1):
        d1 = int(dateutil.parser.parse(user_record.iloc[i]['timestamp']).strftime('%s'))
        d2 = int(dateutil.parser.parse(user_record.iloc[i+1]['timestamp']).strftime('%s'))
        if(d2-d1 < 800 ):
            session.append(user_record.iloc[i+1].name)
        else:
            if(len(session)>10):
                sessions.append(session)
                sessions_user.append(user)
            session=[]
            session.append(user_record.iloc[i+1].name)

('------------------------------------------ User ', 'user_000038')
(7167, 6)
('------------------------------------------ User ', 'user_000039')
(11142, 6)
('------------------------------------------ User ', 'user_000036')
(1471, 6)
('------------------------------------------ User ', 'user_000037')
(2875, 6)
('------------------------------------------ User ', 'user_000034')
(11816, 6)
('------------------------------------------ User ', 'user_000035')
(1213, 6)
('------------------------------------------ User ', 'user_000032')
(12093, 6)
('------------------------------------------ User ', 'user_000033')
(58772, 6)
('------------------------------------------ User ', 'user_000030')
(10939, 6)
('------------------------------------------ User ', 'user_000031')
(12135, 6)
('------------------------------------------ User ', 'user_000014')
(176, 6)
('------------------------------------------ User ', 'user_000015')
(10161, 6)
('------------------------------------------ User ', 'user_000016')
(11517, 6)
('------------------------------------------ User ', 'user_000017')
(3810, 6)
('------------------------------------------ User ', 'user_000010')
(3090, 6)
('------------------------------------------ User ', 'user_000011')
(3700, 6)
('------------------------------------------ User ', 'user_000012')
(47121, 6)
('------------------------------------------ User ', 'user_000013')
(4220, 6)
('------------------------------------------ User ', 'user_000018')
(10566, 6)
('------------------------------------------ User ', 'user_000019')
(22334, 6)
('------------------------------------------ User ', 'user_000029')
(24318, 6)
('------------------------------------------ User ', 'user_000028')
(1313, 6)
('------------------------------------------ User ', 'user_000021')
(44916, 6)
('------------------------------------------ User ', 'user_000020')
(2793, 6)
('------------------------------------------ User ', 'user_000023')
(37894, 6)
('------------------------------------------ User ', 'user_000022')
(33541, 6)
('------------------------------------------ User ', 'user_000025')
(18144, 6)
('------------------------------------------ User ', 'user_000024')
(8914, 6)
('------------------------------------------ User ', 'user_000027')
(1868, 6)
('------------------------------------------ User ', 'user_000026')
(33203, 6)
('------------------------------------------ User ', 'user_000007')
(182, 6)
('------------------------------------------ User ', 'user_000006')
(10246, 6)
('------------------------------------------ User ', 'user_000005')
(13211, 6)
('------------------------------------------ User ', 'user_000004')
(8200, 6)
('------------------------------------------ User ', 'user_000003')
(10437, 6)
('------------------------------------------ User ', 'user_000002')
(42930, 6)
('------------------------------------------ User ', 'user_000001')
(6723, 6)
('------------------------------------------ User ', 'user_000041')
(2028, 6)
('------------------------------------------ User ', 'user_000040')
(11006, 6)
('------------------------------------------ User ', 'user_000009')
(1857, 6)
('------------------------------------------ User ', 'user_000008')
(34997, 6)

## Storing id-name mappings

Forming an artist, track id-name mapping.

In [35]:
artists = data[["artist-id", "artist-name"]].drop_duplicates()

In [36]:
track = data[["track-id", "track-name"]].drop_duplicates()

Forming a mapping from artist to track

In [37]:
artist_track = data[["track-id", "artist-id"]].drop_duplicates()

## Playcount matrix

In [38]:
playcount = data.groupby(["userid", "track-id"]).size().reset_index()

In [39]:
playcount.rename(columns = {0: 'playcount'}, inplace = True)

In [40]:
playcount[:10]

        userid                              track-id  playcount
0  user_000001  00b07689-ec4c-4773-94ce-06f3d198431e          4
1  user_000001  0198d56b-a92f-4596-a206-9e136f56e39f         21
2  user_000001  019cc5d9-1aaf-4687-b0af-6bc83bbccf0b         16
3  user_000001  01d866fc-7145-46af-ad7a-4133a477d54b          6
4  user_000001  02d30185-9d38-4f1c-9dac-63aa14f8cc69          1
5  user_000001  03156214-005e-456f-a5e3-0df32024fdad         16
6  user_000001  04049f3b-2fda-460f-a3ea-05f0418792c1         13
7  user_000001  04be389b-e44f-46c3-9ff3-2a0f0c3beda7         12
8  user_000001  05182b53-d942-4e39-9d87-3e62658898ff         14
9  user_000001  05ef9a7c-edab-4937-9c46-6bf572017d14         17

In [41]:
from scipy.sparse import csr_matrix

playcounts = playcount.pivot(index = 'userid', columns = 'track-id', values = 'playcount').fillna(0)

In [42]:
plays_matrix = csr_matrix(playcounts.values)
playcounts[:10]

track-id,0002c0b8-b737-49d8-a007-68d3bc2da175,0003dd36-b4d2-4216-a37e-b110f6882ecb,0005ebe2-6971-4de6-a8eb-5dff41f3b811,00063d3a-14a8-4748-8025-4b7cb828b37f,00087784-820c-4f71-b539-1f948b37befe,0019e275-6d9f-4ff8-bcd8-1bfce804163a,002017be-b745-42e4-aaf2-74a1c3879703,00226a83-ec86-4950-83de-650c3715e344,00271b0b-0459-4984-a3a5-a1f88e1136ca,002a1ae6-34bf-4687-b2ff-f78aaf7c74f5,...,ffddf0b4-d265-40e1-8950-f97207e86838,ffe2102d-4a5e-48b7-977a-0c28e2af119e,ffe3798a-44fd-4795-969c-2e14fc7083c8,ffea36e9-ae42-402d-ba47-2c1ef4cfca05,ffeaac69-dfd9-4159-950f-3981d5775b91,fff02100-41bf-440f-bcb8-f8998b6b1cc7,fff1607f-8763-460f-bf46-44da9c95a93a,fff7464a-d5db-4dd7-9c40-9e8deddf6063,fffada82-2845-44a0-a783-899f383e295e,fffe453c-b68b-4e43-9cef-b6767a587415
userid,,,,,,,,,,,,,,,,,,,,,
user_000001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_000002,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,11.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0
user_000003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
user_000004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_000005,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_000006,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_000007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_000008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_000009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_000010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
playcounts.index

Index([u'user_000001', u'user_000002', u'user_000003', u'user_000004',
       u'user_000005', u'user_000006', u'user_000007', u'user_000008',
       u'user_000009', u'user_000010', u'user_000011', u'user_000012',
       u'user_000013', u'user_000014', u'user_000015', u'user_000016',
       u'user_000017', u'user_000018', u'user_000019', u'user_000020',
       u'user_000021', u'user_000022', u'user_000023', u'user_000024',
       u'user_000025', u'user_000026', u'user_000027', u'user_000028',
       u'user_000029', u'user_000030', u'user_000031', u'user_000032',
       u'user_000033', u'user_000034', u'user_000035', u'user_000036',
       u'user_000037', u'user_000038', u'user_000039', u'user_000040',
       u'user_000041'],
      dtype='object', name=u'userid')

## Conversion of Playcounts to Ratings

Based on work in A hybrid online-product recommendation system: Combining implicit
rating-based collaborative filtering and sequential pattern analysis by Choi et al.

Absolute Preference: AP(u, i) = ln((n(u played i)/n(u played anything)) + 1)

Relative Preference: RP(u, i) = AP(u,i) / Max_{c \in U} AP(c, i)

Implicit Rating: R(u, i) = Round up(5 * RP (u,i))

In [44]:
# List of number of songs ever played by each user. Reduces computation
user_plays = plays_matrix.sum(axis=1) # Sum all columns
print(user_plays[:20])
print(user_plays.shape)

#number_of_users

[[  6723.]
 [ 42930.]
 [ 10437.]
 [  8200.]
 [ 13211.]
 [ 10246.]
 [   182.]
 [ 34997.]
 [  1857.]
 [  3090.]
 [  3700.]
 [ 47121.]
 [  4220.]
 [   176.]
 [ 10161.]
 [ 11517.]
 [  3810.]
 [ 10566.]
 [ 22334.]
 [  2793.]]
(41, 1)

In [45]:
# Compute Absolute Rating
absolute_preferences = np.log(plays_matrix / user_plays + 1)

In [46]:
absolute_preferences.shape
n_users=absolute_preferences.shape[0]
n_items=absolute_preferences.shape[1]

In [47]:
# 2. List of maximum ratings of each item
max_ratings = absolute_preferences.max(axis=0) # Along columns
print(max_ratings[:10])
print(max_ratings.shape)

[[ 0.00077131  0.00054501  0.00105916 ...,  0.00215983  0.00067887
   0.00037263]]
(1, 20666)

In [48]:
print(max_ratings[max_ratings ==0].size)

0

In [49]:
print(user_plays[user_plays == 0].size)

0

In [50]:
print(max_ratings.shape)

(1, 20666)

In [51]:
# Relative Preference: RP(u, i) = AP(u,i) / Max_{c \in U} AP(c, i)
relative_preferences = absolute_preferences / (max_ratings)
print(absolute_preferences.shape)
print(relative_preferences.shape)

(41, 20666)
(41, 20666)

In [52]:
# Implicit Rating: R(u, i) = Round up(5 * RP (u,i))
implicit_ratings = np.ceil(5 * relative_preferences)

In [53]:
implicit_ratings.max(axis=1)
print(implicit_ratings[:10, :10])

[[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  2.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  5.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  5.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]]

In [54]:
implicit_ratings.shape

(41, 20666)

## Test-Train Split

First, for rating matrix

In [55]:
TRAIN_SIZE = 0.80
# Create boolean mask
# np.random creates a vector of random values between 0 and 1
# Those values are filtered to create a binary mask
msk = np.random.rand(implicit_ratings.shape[0],implicit_ratings.shape[1]) < TRAIN_SIZE
r = np.zeros(implicit_ratings.shape)
print (msk.shape)
 
train_ratings = implicit_ratings.copy()
test_ratings = implicit_ratings.copy()
    
train_ratings[~msk] = r[~msk]
test_ratings[msk] = r[msk] # inverse of boolean mask

(41, 20666)

In [56]:
test_ratings[msk].shape

(1, 676916)

In [57]:
print(implicit_ratings[:6, :6])
print(train_ratings[:6, :6])
print(test_ratings[:6, :6])
print(implicit_ratings.shape)
print(train_ratings.shape)
print(test_ratings.shape)

[[ 0.  0.  0.  0.  0.  0.]
 [ 0.  2.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.]
 [ 0.  0.  5.  0.  0.  0.]
 [ 0.  0.  5.  0.  0.  0.]]
[[ 0.  0.  0.  0.  0.  0.]
 [ 0.  2.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.]]
[[ 0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.]
 [ 0.  0.  5.  0.  0.  0.]
 [ 0.  0.  5.  0.  0.  0.]]
(41, 20666)
(41, 20666)
(41, 20666)

In [58]:
np.count_nonzero(test_ratings, axis=1)
# This means we can use test matrix as ground truth

matrix([[ 459],
        [2801],
        [1097],
        [1302],
        [ 448],
        [ 823],
        [  27],
        [ 170],
        [ 398],
        [ 189],
        [ 591],
        [2788],
        [ 701],
        [ 108],
        [ 506],
        [1831],
        [1267],
        [ 631],
        [1139],
        [ 728],
        [2760],
        [1452],
        [ 906],
        [2481],
        [1961],
        [1374],
        [ 209],
        [ 282],
        [2056],
        [1088],
        [3305],
        [ 416],
        [1212],
        [1576],
        [ 288],
        [ 507],
        [ 475],
        [ 545],
        [ 684],
        [1084],
        [ 695]])

Now for listening sessions aka top-n recommendations train set is the same because we just learn the ratings and predict the best.

In [59]:
# We take the test ratings
y_rec = []
# now we need to sort each row
for u in test_ratings:
    indices = np.nonzero(u)[1]
    nz = indices[np.argsort(u[:,indices], axis=None)]
    y_rec.append(nz[::-1])
print len(y_rec)
print y_rec[:1]

41
[array([[10705, 18004,  4243, 18218, 18300,  7233,  3980,  3972,  9316,
         3762,  3309, 12990, 10247, 18757, 12822,  2443, 10614, 18629,
        17542, 13734,  5013,  7160,  7128, 15455,  6944,  6899, 14427,
         6145, 14327,  6076,  8312, 16136, 16164,  8462,  5533,  5518,
         5510,  8975, 10648,  2196, 15174,  1211,  1283, 11872,   568,
        11485, 11199,  1462, 20541, 11519,  9566, 12062, 16928,  5289,
        18441, 19868, 12066, 17735,  4421,  4740, 16805, 19887,  9272,
        20013, 20019, 19750,  8524, 15050,  2368, 14837,  1677, 14747,
        11417, 14065, 18844, 13446, 19543, 19568, 16518, 17308, 16996,
        17448, 16909, 15797, 16639, 20192, 14937,   211, 15404, 16708,
        20169,  4605, 18369, 12274, 18541, 12808, 19102, 10658,  1775,
         2906, 17956, 17681,   761, 20330, 13057,  8782,  7641,  9459,
         1817, 11311, 18942, 11242, 18655, 18409, 14567, 14324, 14580,
        11826, 11853, 13472, 14915, 12820, 11722, 15018, 12411, 15019,
        12730, 15023, 11677, 12651, 12570, 15170, 14912, 14926, 12973,
        14247, 13531, 13612, 13672, 12095, 13720, 12490, 13443, 13428,
        13784, 12118, 13798, 13315, 11911, 13236, 13182, 13811, 13123,
        13093, 13812, 13858, 14100, 12224, 14183, 14219, 12943, 12828,
        13192, 12561, 16701, 15221, 19246, 19200, 19101, 19014, 18962,
        18941, 18938, 18896, 19253, 18749, 18725, 18718, 18613, 18606,
        18549, 18537, 18516, 18489, 18743, 19290, 19306, 19403, 20567,
        20545, 20469, 20427, 20366, 20343, 20282, 20223, 20221, 20189,
        20144, 20036, 20004, 19939, 19936, 19803, 19631, 19475, 19414,
        18471, 18432, 18131, 18045, 16346, 16035, 15975, 15941, 15910,
        15866, 15844, 15824, 15759, 15624, 15606, 15566, 15550, 15516,
        15479, 15446, 15396, 15384, 15329, 16348, 15181, 16352, 16705,
        17979, 17937, 17869, 17857, 17818, 17748, 17621, 17577, 17493,
        17464, 17433, 17304, 17299, 17063, 16901, 16823, 16775, 16770,
        16763, 11658, 11641,   112, 11568,  4489,  4474,  4449,  4282,
         4225,  4220,  4212,  4177,  4149,  4065,  4059,  3956,  3940,
         3934,  3912,  3830,  3639,  3529,  3476,  3397,  3360,  4606,
         4665,  4666,  4683,  5689,  5661,  5656,  5650,  5640,  5486,
         5470,  5424,  5371,  5318,  3344,  5253,  5117,  5079,  5029,
         4959,  4927,  4878,  4796,  4783,  4763,  4710,  5138,  5701,
         3307,  3056,  1165,  1145,   975,   941,   881,   864,   849,
          828,   799,   768,   702,   585,   584,   460,   452,   382,
          357,   303,   226,   126,   114,  1170,  1213,  1262,  1412,
         3055,  3046,  3016,  2889,  2653,  2612,  2562,  2535,  2401,
         2387,  3186,  2256,  2125,  2089,  2083,  2062,  2005,  1872,
         1596,  1560,  1523,  1498,  2225, 11579,  5713,  5843, 10092,
        10066, 10040,  9993,  9959,  9748,  9626,  9593,  9583,  9437,
         9397,  9396,  9380,  9372,  9304,  9164,  9144,  9089,  8778,
         8777,  8727, 10121, 10149, 10226, 10282, 11562, 11518, 11510,
        11503, 11475, 11449, 11428, 11382, 11325, 11297,  8706, 11052,
        10865, 10840, 10802, 10786, 10782, 10732, 20632, 10521, 10380,
        10327, 10995,  5783,  8620,  8614,  6956,  6902,  6873,  6838,
         6770,  6753,  6727,  6694,  6515,  6489,  6256,  6208,  6142,
         6121,  6033,  6015,  5981,  5937,  5933,  5928,  5880,  6987,
         7024,  7094,  7120,  8402,  8299,  8273,  8114,  8086,  8027,
         7926,  7828,  7792,  7771,  8619,  7711,  7623,  7517,  7494,
         7482,  7452,  7398,  7352,  7241,  7184,  7155,  7628, 20639]])]

In [60]:
scoring_ranks = [data.loc[s, ['track-id']].values.flatten() for s in sessions]

In [61]:
# from sets import Set 
# users = Set(sessions_user)
# y_rec = []
# y_rec_label = []
# for u in users:
#     indices = [i for i,U in enumerate(sessions_user) if U == u]
# #     print np.concatenate([scoring_ranks[i] for i in indices])
#     y_rec.append(np.concatenate([scoring_ranks[i] for i in indices]))
#     y_rec_label.append(u)
#     print "%s done..." % u
# print len(y_rec)
# print y_rec

In [62]:
len(sessions)

14346

## Metrics

We use the following metrics

### For Rating Prediction

#### Mean Absolute Error

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/3ef87b78a9af65e308cf4aa9acf6f203efbdeded)


#### Root Mean Square Error

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/24a21c4e87218f03bdc76d7b858b93ed448d7682)


### For Top-n Recommendations

#### Precision at k

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/95eeb143dd5ded21c882eaa4530ec69739a3a218)

Here, documents are each record.


#### Mean Average Precision at k

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/64788ba190d585f3837f9d10fe24f3b9689dba4b)

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/decf93706ec7c8632fdfabe41470962101f9bcd8)

#### Truncated Normalized Discounted Cumulative Gain (NDCG@K)

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/c7cf810f95722b0add5a9efb17b47215ada9e168)

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/7f28a12199cde773a6897d5f3021d4e2d3b2f0fe)

In [63]:
from metrics import *

In [64]:
#type(implicit_ratings)
ratings = np.array(implicit_ratings)
test_r = np.array(test_ratings)
train_r = np.array(train_ratings)

In [84]:
print np.count_nonzero(test_r)
print np.count_nonzero(train_r)

43360
10824

In [65]:
ratings

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  2.,  0., ...,  0.,  0.,  5.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  5.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [66]:
test_r

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  5.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  5.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [67]:
train_r

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  2.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [68]:
print (n_users)
print (n_items)
sparsity = float(len(ratings.nonzero()[0]))
sparsity /= (ratings.shape[0] * ratings.shape[1])
sparsity *= 100
print('Sparsity: {:4.2f}%'.format(sparsity))

41
20666
Sparsity: 6.39%

In [ ]:
import numpy as np
from bmf import *

In [ ]:
# print(rmse)
# print(num_f)

In [ ]:
num_f1=[]
rmse1=[]
it = [20, 40, 60, 80, 100]

for i in it: 
    rmse=[]
    num_f=[]
    bmf = MF(train_r, test_r, K=8, alpha=0.1, beta=0.01, iterations=i)
    training_process = bmf.train()
    rmse.append(float(bmf.mse()))
    num_f.append(bmf.K)
    
    bmf = MF(train_r, test_r, K=16, alpha=0.1, beta=0.01, iterations=i)
    training_process = bmf.train()
    rmse.append(float(bmf.mse()))
    num_f.append(bmf.K)
    
    bmf = MF(train_r, test_r, K=32, alpha=0.1, beta=0.01, iterations=i)
    training_process = bmf.train()
    rmse.append(float(bmf.mse()))
    num_f.append(bmf.K)
    
    bmf = MF(train_r, test_r, K=64, alpha=0.1, beta=0.01, iterations=i)
    training_process = bmf.train()
    rmse.append(float(bmf.mse()))
    num_f.append(bmf.K)
    
    bmf = MF(train_r, test_r, K=128, alpha=0.1, beta=0.01, iterations=i)
    training_process = bmf.train()
    rmse.append(float(bmf.mse()))
    num_f.append(bmf.K)
    rmse1.append(rmse)
    num_f1.append(num_f)

In [ ]:
rmse2=[rmse1]
num_f2=[num_f1]

In [ ]:
rmse2.append(rmse1)
num_f1=[]
rmse1=[]
it = [20, 40, 60, 80, 100]
a=0.05
for i in it: 
    rmse=[]
    num_f=[]
    mf = MF(train_r, test_r, K=8, alpha=a, beta=a, iterations=i)
    training_process = mf.train()
    rmse.append(float(mf.mse()))
    num_f.append(mf.K)
    mf = MF(train_r, test_r, K=16, alpha=a, beta=a, iterations=i)
    training_process = mf.train()
    rmse.append(float(mf.mse()))
    num_f.append(mf.K)
    mf = MF(train_r, test_r, K=32, alpha=a, beta=a, iterations=i)
    training_process = mf.train()
    rmse.append(float(mf.mse()))
    num_f.append(mf.K)
    mf = MF(train_r, test_r, K=64, alpha=a, beta=a, iterations=i)
    training_process = mf.train()
    rmse.append(float(mf.mse()))
    num_f.append(mf.K)
    mf = MF(train_r, test_r, K=128, alpha=a, beta=a, iterations=i)
    training_process = mf.train()
    rmse.append(float(mf.mse()))
    num_f.append(mf.K)
    rmse1.append(rmse)
    num_f1.append(num_f)
    num_f2.append(num_f1)

In [ ]:


num_f1=[]
rmse1=[]
it = [20, 40, 60, 80, 100]
a=0.05
for i in it: 
    rmse=[]
    num_f=[]
    mf = MF(train_r, test_r, K=8, alpha=a, beta=a, iterations=i)
    training_process = mf.train()
    rmse.append(float(mf.mse()))
    num_f.append(mf.K)
    mf = MF(train_r, test_r, K=16, alpha=a, beta=a, iterations=i)
    training_process = mf.train()
    rmse.append(float(mf.mse()))
    num_f.append(mf.K)
    mf = MF(train_r, test_r, K=32, alpha=a, beta=a, iterations=i)
    training_process = mf.train()
    rmse.append(float(mf.mse()))
    num_f.append(mf.K)
    mf = MF(train_r, test_r, K=64, alpha=a, beta=a, iterations=i)
    training_process = mf.train()
    rmse.append(float(mf.mse()))
    num_f.append(mf.K)
    mf = MF(train_r, test_r, K=128, alpha=a, beta=a, iterations=i)
    training_process = mf.train()
    rmse.append(float(mf.mse()))
    num_f.append(mf.K)
    rmse1.append(rmse)
    num_f1.append(num_f)

In [ ]:
rmse2.append(rmse1)
num_f2.append(num_f1)

In [ ]:
import matplotlib.pyplot as plt

rmse = [1.70891147951593, 1.6766837265777976, 1.6619516094191462, 1.6560941443090653, 1.6563708797542356]
num_f = [8, 16, 32, 64, 128]
plt.plot(num_f, rmse, '--', marker='o', color='b', label='bmf')
plt.xticks(fontsize=8);
plt.yticks(fontsize=8);
plt.xlabel('d(number of factors)', fontsize=8);
plt.ylabel('RMSE', fontsize=10);
plt.legend(loc='best', fontsize=10);
plt.savefig('bmf.png')

In [ ]:
plt.show()

In [ ]:
from msbmf import *

In [72]:
print test_ratings.shape
sim = np.random.normal(scale=1./8, size=(train_ratings.shape[1], 10))

(41, 20666)

In [ ]:
msmf = MSBMF(train_r, test_r, S=sim, D=8,k=3, alpha=1, l=1,eta=0.05, iterations=100)
# R, Rte, S, D, k, alpha, l, eta, iterations)
training_process = msmf.train()
print float(msmf.mse())

In [69]:
import mrec

In [74]:
# from mswrmf import *
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

from mrec.sparse import fast_sparse_matrix
from mrec.mf.recommender import MatrixFactorizationRecommender

class MSWRMF(MatrixFactorizationRecommender):
    """
    Parameters
    ==========
    d : int
        Number of latent factors.
    alpha : float
        Confidence weight, confidence c = 1 + alpha*r where r is the observed "rating".
    lbda : float
        Regularization constant.
    num_iters : int
        Number of iterations of alternating least squares.
    """

    def __init__(self,d,k,a, alpha=1,lbda=0.015,num_iters=15):
        self.d = d
        self.k = k
        self.a = a
        self.alpha = alpha
        self.lbda = lbda
        self.num_iters = num_iters

        # R, Rte, S, D, k, alpha, l, eta, iterations

    def __str__(self):
        return 'WRMFRecommender (d={0},alpha={1},lambda={2},num_iters={3})'.format(self.d,self.alpha,self.lbda,self.num_iters)

    def init_factors(self,num_factors,assign_values=True):
        if assign_values:
            return self.d**-0.5*np.random.random_sample((num_factors,self.d))
        return np.empty((num_factors,self.d))

    def fit(self,train,S,item_features=None):
        """
        Learn factors from training set. User and item factors are
        fitted alternately.
        Parameters
        ==========
        train : scipy.sparse.csr_matrix or mrec.sparse.fast_sparse_matrix
            User-item matrix.
        S: item similaities
        item_features : array_like, shape = [num_items, num_features]
            Features for each item in the dataset, ignored here.
        """
        self.S = S
        nbrs = NearestNeighbors(n_neighbors=self.k + 1).fit(self.S)
        # Does contain itself, hence k + 1
        self.k_distances, self.k_indices = nbrs.kneighbors(self.S)

        if type(train) == csr_matrix:
            train = fast_sparse_matrix(train)

        num_users,num_items = train.shape

        self.U = self.init_factors(num_users,False)  # don't need values, will compute them
        self.V = self.init_factors(num_items) # Items
        for it in xrange(self.num_iters):
            print 'iteration',it
            # fit user factors
            VV = self.V.T.dot(self.V)
            for u in xrange(num_users):
                # get (positive i.e. non-zero scored) items for user
                indices = train.X[u].nonzero()[1]
                if indices.size:
                    self.U[u,:] = self.update(indices,self.V,VV)
                else:
                    self.U[u,:] = np.zeros(self.d)
            # fit item factors
            UU = self.U.T.dot(self.U)
            for i in xrange(num_items):
                indices = train.fast_get_col(i).nonzero()[0]
                if indices.size:
                    self.V[i,:] = self.update(indices,self.U,UU)
                else:
                    self.V[i,:] = np.zeros(self.d)

    # # Backprop rule also contains si,j term hiii
    #         similarity_factor = np.zeros_like(self.Q[j, :])
    #         for x, d in enumerate(self.k_distances[j]):
    #             similarity_factor += (d - self.Q[j, :].dot(self.Q[self.k_indices[i][x], :].T)) * (self.Q[self.k_indices[i][x], :])
    #         self.Q[j, :] += self.eta * (e * self.P[i, :] - self.l * self.Q[j,:] - self.alpha * similarity_factor)

    #  NOW WE NEED A DIFFERENT UPDATE RULE FOR ITEM AND USERS

    def update(self,indices,H,HH):
        """
        Update latent factors for a single user.
        """
        Hix = H[indices,:]
        M = HH + self.alpha*Hix.T.dot(Hix) + np.diag(self.lbda*np.ones(self.d))
        return np.dot(np.linalg.inv(M),(1+self.alpha)*Hix.sum(axis=0))

    def update_item(self,indices,H,HH):
        """
        Update latent factors for a single item.
        """
        Hix = H[indices,:]
        for x, d in enumerate(self.k_distances[j]):
            Hix -= self.a * self.V[j, :].dot(self.V[self.k_indices[i][x], :].T) * (self.V[self.k_indices[i][x], :])
        M = HH + self.alpha*Hix.T.dot(Hix) + np.diag(self.lbda*np.ones(self.d))
        for x, d in enumerate(self.k_distances[j]):
            M -= self.a * d * (self.V[self.k_indices[i][x], :])
        return np.dot(np.linalg.inv(M),(1+self.alpha)*Hix.sum(axis=0))

In [75]:
# msmf = MSBMF(train_r, test_r, S=sim, D=8,k=3, alpha=1, l=1,eta=0.05, iterations=100)
mswrmf = MSWRMF(d=8,k=5, a=0.1, num_iters=10)
# R, Rte, S, D, k, alpha, l, eta, iterations)
from scipy.sparse import csr_matrix
training_process = mswrmf.fit(csr_matrix(train_r), sim)
# print float(msmf.mse())

iteration 0
iteration 1
iteration 2
iteration 3
iteration 4
iteration 5
iteration 6
iteration 7
iteration 8
iteration 9

In [76]:
n_rec = mswrmf.batch_recommend_items(csr_matrix(train_r),max_items=10,return_scores=False)

In [77]:
n_rec

[[16084, 15452, 5826, 2829, 12409, 11562, 3438, 16922, 2813, 4006],
 [19830, 10817, 19851, 8764, 16866, 17651, 7553, 12331, 18369, 4000],
 [975, 496, 4845, 19264, 2064, 14836, 16295, 17040, 13924, 12478],
 [16510, 5826, 4146, 14722, 16552, 19473, 2829, 3070, 7993, 8220],
 [3438, 19650, 10035, 4006, 20089, 6370, 2235, 1296, 744, 496],
 [19058, 17842, 12910, 15728, 11544, 9125, 8216, 7234, 17241, 19428],
 [19264, 19543, 496, 10267, 2870, 14836, 16167, 18527, 9860, 4845],
 [17842, 496, 11539, 12910, 8129, 2295, 2705, 19058, 19264, 15728],
 [16167, 16295, 19264, 496, 8216, 19058, 2223, 13753, 9604, 19543],
 [2223, 16167, 16295, 9102, 496, 3795, 6677, 3475, 10515, 19501],
 [9001, 10515, 3795, 16295, 3317, 6677, 7999, 10012, 496, 19543],
 [15850, 16737, 3940, 19283, 4243, 4006, 1399, 7128, 9102, 3475],
 [17241, 1296, 11562, 3317, 3415, 4006, 5680, 6982, 6469, 19428],
 [12910, 11544, 15728, 9125, 496, 11562, 2295, 2705, 4657, 8129],
 [496, 19264, 16167, 19543, 11129, 4845, 7128, 19650, 9860, 14836],
 [7686, 14799, 6915, 10515, 1202, 18992, 18676, 2785, 3438, 2977],
 [19650, 12762, 2042, 13870, 4173, 4189, 15919, 257, 12114, 3454],
 [259, 1740, 19650, 6915, 7128, 10801, 6370, 19473, 3027, 12736],
 [19058, 8216, 496, 2223, 4657, 3864, 5680, 16295, 894, 2235],
 [18527, 2064, 3438, 6370, 975, 13924, 4845, 19650, 19543, 9556],
 [20089, 2042, 18158, 9826, 10962, 3317, 7686, 10072, 18957, 11539],
 [16515, 7836, 11562, 7441, 6702, 6928, 17642, 7164, 1443, 4493],
 [19058, 12762, 5874, 11562, 6702, 7441, 15853, 8216, 14534, 19501],
 [18664, 4298, 12114, 6809, 14569, 19473, 19661, 15742, 5601, 15612],
 [15853, 10801, 12065, 16295, 5376, 3027, 4387, 1369, 19737, 2012],
 [18664, 18676, 9001, 13339, 13530, 6370, 3317, 2997, 3795, 19686],
 [496, 2064, 975, 6370, 9001, 3317, 3438, 7686, 11129, 3795],
 [259, 7128, 8216, 16084, 6915, 19283, 16510, 12409, 15452, 3027],
 [16075, 6190, 5221, 12822, 5565, 11906, 10801, 5376, 932, 149],
 [9322, 13924, 2503, 1261, 1539, 3467, 3438, 1531, 12409, 7816],
 [6597, 3475, 7128, 6092, 13753, 16787, 7713, 18992, 9102, 16031],
 [1296, 496, 16167, 3317, 17241, 8216, 3438, 10385, 4845, 975],
 [12910, 2705, 7013, 6876, 16243, 12929, 2912, 6560, 333, 848],
 [100, 1443, 1054, 18271, 16792, 9082, 9908, 8499, 18572, 17638],
 [1740, 3438, 11562, 1296, 3317, 17356, 259, 12409, 16084, 3795],
 [3438, 16084, 259, 12409, 15452, 10035, 20089, 5826, 2829, 15850],
 [19058, 8216, 2235, 16167, 7128, 15850, 19264, 496, 2042, 1296],
 [19058, 16167, 19428, 13753, 11544, 15728, 3475, 496, 8319, 3795],
 [19264, 19543, 16167, 10267, 2870, 4845, 9860, 16295, 2064, 11129],
 [18527, 3438, 11456, 6370, 14949, 9556, 6928, 2503, 2813, 975],
 [16167, 16295, 496, 19264, 19543, 2235, 4845, 8216, 9860, 14836]]

In [78]:
len(n_rec)

41

In [79]:
len(y_rec)

41

In [80]:
from metrics import *

In [81]:
# from metrics import *
print ("MAP@k",mean_average_precision(y_rec, n_rec, 10))
print ("P@k",precision_k(y_rec, n_rec, 10))

('MAP@k', 0.71651180797522251)
('P@k', 0.16829268292682928)

In [82]:
# NDCG also takes the ratings into account  test_ratings
print ("NDCG@k",ndcg_k(y_rec, n_rec, test_r, 10))

('NDCG@k', 0.37227123340336288)